<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madlibs</title>
</head>
<body>
  <h1>Madlibs</h1>
  <h2>Questions for {{ title }}</h2>
  <form action="/story">
    {% for prompt in prompts %}
      <p>{{ prompt }}:
        <input name="{{ prompt }}">
      </p>
    {% endfor %}
    <input type="hidden" name="story_num" value="{{story_num}}">
    <button>Submit!</button>
  </form>
</body>
</html>